body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.principal {
  display: flex;
  z-index: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

.cursor {
  cursor: pointer;
}

.containerPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup {
  display: flex;
  width: 800px;
  height: auto;
  background-color: #FFF;
  z-index: 3;
  border-radius: 3px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form input {
  width: auto;
  text-align: center;
  height: 30px;
  margin: 0 5px;
  padding: 0px 7px;
}

.setIpt {
  display: flex;
  margin: 10px;
}

.setBtn {
  display: flex;
}