body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.principal {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

.cursor {
  cursor: pointer;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form input {
  width: auto;
  text-align: center;
  height: 30px;
  margin: 0 5px;
  padding: 0px 7px;
}

span {
  display: block;
}

.setIpt {
  display: flex;
  margin: 10px;
}

.setBtn {
  display: flex;
}

.btn {
  text-decoration: none;
}

.titlePop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid brown;
}